# macOS
.DS_Store
.AppleDouble
.LSOverride
__MACOSX/

# Xcode
*.xcuserstate
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/
Carthage/Checkouts/

# Editor
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
